#main{
    width: auto;
    margin: auto;
}

#header{
    font-size: 12pt;
    font-family: メイリオ, Osaka;
}

#sidebar{
    width: 20%;
    float: left;
}

#contents{
    width:80%;
    float: right;
}
#footer {
    clear:both;
    margin-top: 30%;
}


iframe {
    border: 1px solid black;
    width: 100%;
}

.output {
    background: #eee;
}

.example-icon {
    padding: 0 14px;
  }
  
  .example-spacer {
    flex: 1 1 auto;
  }